.stats{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(200px,1fr));

gap:25px;

margin:50px 0;

}

.stat{

background:white;

padding:30px;

text-align:center;

border-radius:18px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.stat h1{

font-size:45px;

color:#2563eb;

margin-bottom:10px;

}