.hero{

display:flex;

justify-content:space-between;

align-items:center;

padding:70px;

border-radius:25px;

background:linear-gradient(135deg,#0f172a,#2563eb);

color:white;

margin-bottom:60px;

flex-wrap:wrap;

}

.hero-left{

max-width:650px;

}

.hero h1{

font-size:52px;

margin-bottom:20px;

color:white;

}

.hero h3{

font-size:24px;

font-weight:400;

margin-bottom:20px;

color:#dbeafe;

}

.hero-buttons{

margin-top:35px;

}

.btn-primary{

background:#fff;

padding:15px 28px;

border-radius:10px;

text-decoration:none;

font-weight:700;

margin-right:15px;

color:#2563eb;

}

.btn-primary:hover{

background:#eff6ff;

}

.btn-secondary{

padding:15px 28px;

border-radius:10px;

border:2px solid white;

text-decoration:none;

color:white;

}

.btn-secondary:hover{

background:white;

color:#2563eb;

}

.hero-right{

font-size:180px;

opacity:.25;

}